###
### .gitignore for BS
### =================
###
### v1.00  WS17/18  by Martin Witte
###


# untrack every file
#===================
*

# except / tracked files: -> !...
#================================
!.gitignore
!**/readme.md
!**/ReadMe.txt
!**/*.c
!**/*.h
!**/*.tex
!**/*.pdf

# Reallow files from subdirectories
#==================================
!*/